In [118]:
import random
import string

In [119]:
# 문자열 랜덤 값을 생성
letter_set = string.ascii_lowercase
letter_set

'abcdefghijklmnopqrstuvwxyz'

In [120]:
random_data = random.sample(letter_set, 5)
# list를 문자열로 변경
data = "".join(random_data)
data

'wxzkn'

In [121]:
text_length = range(4, 10)
email = ['@naver.com', '@gmail.com', '@hanmail.net', '@yahoo.com']
email_list = []
for i in range(100000):
    # email_list의 길이가 100일때 반복문을 종료
    if (len(email_list) == 100):
        break

    random_data = random.sample(letter_set, random.choice(text_length))

    data = "".join(random_data) + random.choice(email)

    # data를 email_list에 대입 -> 해당하는 이메일이 존재하지 않는 경우에만
    if (data not in email_list):
        email_list.append(data)

In [122]:
email_list

['dkemriquo@gmail.com',
 'ouak@yahoo.com',
 'zpqomjndy@gmail.com',
 'jkiqve@gmail.com',
 'xrzvmfwg@hanmail.net',
 'hlmnwcxys@yahoo.com',
 'ckvhqi@yahoo.com',
 'bxfmsh@hanmail.net',
 'mrpow@yahoo.com',
 'mxatgycij@yahoo.com',
 'xrzfnwqb@yahoo.com',
 'nrfijsv@hanmail.net',
 'xfsqyr@gmail.com',
 'firtb@gmail.com',
 'srcyp@yahoo.com',
 'czrtsnie@gmail.com',
 'wxoitrayp@yahoo.com',
 'bnzt@yahoo.com',
 'kfpq@yahoo.com',
 'slbr@yahoo.com',
 'nitu@yahoo.com',
 'ftem@gmail.com',
 'jodxhyank@hanmail.net',
 'yparql@hanmail.net',
 'mnvhsb@gmail.com',
 'phojnvg@naver.com',
 'ogytwnc@hanmail.net',
 'flwvk@gmail.com',
 'uhclq@hanmail.net',
 'jxftiuwve@naver.com',
 'iylrxkdbj@naver.com',
 'utwr@hanmail.net',
 'uyfc@gmail.com',
 'gzmxtlwso@hanmail.net',
 'pcmlrft@hanmail.net',
 'mbax@yahoo.com',
 'rvpjya@yahoo.com',
 'lebjovcr@hanmail.net',
 'fyveuncqh@hanmail.net',
 'wvfxcahj@naver.com',
 'rocmkhslu@naver.com',
 'qsthxvu@yahoo.com',
 'vbmqjz@naver.com',
 'lwriyhj@hanmail.net',
 'krgbnifey@gmail.com',
 'mqephb@yahoo.com',
 'hidvq@yahoo.com',
 'fdiqbwco@hanmail.net',
 'jocie@naver.com',
 'ewuxb@yahoo.com',
 'rhnav@gmail.com',
 'eyli@yahoo.com',
 'yqnk@yahoo.com',
 'xeil@naver.com',
 'lhpfbi@naver.com',
 'hgmpr@gmail.com',
 'yegh@yahoo.com',
 'jktponsu@gmail.com',
 'vboel@hanmail.net',
 'zylced@hanmail.net',
 'twlmvcpaj@naver.com',
 'swgqapi@naver.com',
 'gcze@naver.com',
 'asygplqot@hanmail.net',
 'piyxdhruq@gmail.com',
 'ocvrg@gmail.com',
 'jzutyin@yahoo.com',
 'yiemoxrtg@naver.com',
 'gbxjmsurt@gmail.com',
 'jizwydvom@hanmail.net',
 'zsuaodcbw@hanmail.net',
 'tafskqi@hanmail.net',
 'hfanowr@gmail.com',
 'nfhbzo@gmail.com',
 'iykbh@naver.com',
 'sdhla@yahoo.com',
 'pwbi@gmail.com',
 'eosibkg@gmail.com',
 'dckgb@hanmail.net',
 'lzrnyxbd@naver.com',
 'eysx@naver.com',
 'xyualprk@hanmail.net',
 'qjweongc@gmail.com',
 'iqmcgxlh@naver.com',
 'zlwesc@naver.com',
 'zknjrpx@hanmail.net',
 'moyg@naver.com',
 'tnvlpcgj@gmail.com',
 'zvba@naver.com',
 'adfu@hanmail.net',
 'fzkexvsuo@yahoo.com',
 'lmiw@yahoo.com',
 'pnkdso@yahoo.com',
 'angs@hanmail.net',
 'gkrz@gmail.com',
 'snvmkfe@naver.com',
 'nboicvgty@yahoo.com',
 'hmtqjeax@naver.com',
 'wpdveg@hanmail.net',
 'obec@yahoo.com']

In [123]:
from datetime import datetime

In [124]:
year = list(range(2017, 2024))
month = list(range(1, 13))
day = list(range(1, 32))

time1 = [] # 시계열로 저장
for i in range(100000) :
    y = str(random.choice(year))
    m = str(random.choice(month))
    d = str(random.choice(day))

    date = y+m+d

    try:
        time1.append(datetime.strptime(date, '%Y%m%d')) # 문자열 데이터를 시계열 데이터로 변경
    except:
        print(date)

    if (len(time1) == 100):
        break

20191131
2017631
2022231
2023229
2021231

In [125]:
time1

[datetime.datetime(2023, 5, 3, 0, 0),
 datetime.datetime(2020, 8, 26, 0, 0),
 datetime.datetime(2023, 10, 6, 0, 0),
 datetime.datetime(2023, 9, 30, 0, 0),
 datetime.datetime(2019, 2, 23, 0, 0),
 datetime.datetime(2017, 4, 24, 0, 0),
 datetime.datetime(2022, 9, 13, 0, 0),
 datetime.datetime(2017, 2, 25, 0, 0),
 datetime.datetime(2022, 12, 8, 0, 0),
 datetime.datetime(2019, 11, 3, 0, 0),
 datetime.datetime(2022, 5, 16, 0, 0),
 datetime.datetime(2022, 12, 24, 0, 0),
 datetime.datetime(2019, 6, 25, 0, 0),
 datetime.datetime(2017, 8, 2, 0, 0),
 datetime.datetime(2018, 5, 3, 0, 0),
 datetime.datetime(2020, 8, 4, 0, 0),
 datetime.datetime(2018, 7, 5, 0, 0),
 datetime.datetime(2022, 6, 7, 0, 0),
 datetime.datetime(2018, 9, 22, 0, 0),
 datetime.datetime(2019, 9, 17, 0, 0),
 datetime.datetime(2019, 8, 28, 0, 0),
 datetime.datetime(2023, 11, 7, 0, 0),
 datetime.datetime(2023, 9, 5, 0, 0),
 datetime.datetime(2018, 12, 2, 0, 0),
 datetime.datetime(2022, 3, 5, 0, 0),
 datetime.datetime(2017, 6, 26, 0, 0),
 datetime.datetime(2020, 2, 25, 0, 0),
 datetime.datetime(2020, 12, 25, 0, 0),
 datetime.datetime(2023, 12, 3, 0, 0),
 datetime.datetime(2023, 4, 29, 0, 0),
 datetime.datetime(2019, 1, 1, 0, 0),
 datetime.datetime(2020, 2, 8, 0, 0),
 datetime.datetime(2020, 5, 26, 0, 0),
 datetime.datetime(2017, 3, 22, 0, 0),
 datetime.datetime(2023, 10, 7, 0, 0),
 datetime.datetime(2019, 4, 14, 0, 0),
 datetime.datetime(2022, 3, 21, 0, 0),
 datetime.datetime(2018, 6, 15, 0, 0),
 datetime.datetime(2017, 5, 24, 0, 0),
 datetime.datetime(2017, 4, 21, 0, 0),
 datetime.datetime(2020, 10, 6, 0, 0),
 datetime.datetime(2020, 9, 18, 0, 0),
 datetime.datetime(2017, 10, 18, 0, 0),
 datetime.datetime(2018, 3, 9, 0, 0),
 datetime.datetime(2019, 7, 5, 0, 0),
 datetime.datetime(2022, 10, 27, 0, 0),
 datetime.datetime(2022, 7, 6, 0, 0),
 datetime.datetime(2021, 12, 13, 0, 0),
 datetime.datetime(2021, 11, 20, 0, 0),
 datetime.datetime(2020, 1, 4, 0, 0),
 datetime.datetime(2018, 2, 15, 0, 0),
 datetime.datetime(2020, 2, 20, 0, 0),
 datetime.datetime(2018, 6, 29, 0, 0),
 datetime.datetime(2018, 6, 7, 0, 0),
 datetime.datetime(2020, 5, 18, 0, 0),
 datetime.datetime(2018, 3, 7, 0, 0),
 datetime.datetime(2017, 5, 20, 0, 0),
 datetime.datetime(2021, 1, 5, 0, 0),
 datetime.datetime(2019, 10, 14, 0, 0),
 datetime.datetime(2020, 4, 9, 0, 0),
 datetime.datetime(2020, 9, 21, 0, 0),
 datetime.datetime(2020, 10, 17, 0, 0),
 datetime.datetime(2022, 10, 10, 0, 0),
 datetime.datetime(2021, 8, 2, 0, 0),
 datetime.datetime(2023, 9, 1, 0, 0),
 datetime.datetime(2023, 3, 14, 0, 0),
 datetime.datetime(2017, 1, 4, 0, 0),
 datetime.datetime(2022, 12, 23, 0, 0),
 datetime.datetime(2021, 8, 17, 0, 0),
 datetime.datetime(2023, 8, 9, 0, 0),
 datetime.datetime(2023, 9, 24, 0, 0),
 datetime.datetime(2019, 9, 13, 0, 0),
 datetime.datetime(2020, 12, 13, 0, 0),
 datetime.datetime(2019, 5, 22, 0, 0),
 datetime.datetime(2018, 2, 17, 0, 0),
 datetime.datetime(2018, 4, 13, 0, 0),
 datetime.datetime(2021, 2, 23, 0, 0),
 datetime.datetime(2019, 12, 3, 0, 0),
 datetime.datetime(2021, 12, 21, 0, 0),
 datetime.datetime(2022, 7, 29, 0, 0),
 datetime.datetime(2019, 10, 2, 0, 0),
 datetime.datetime(2022, 8, 7, 0, 0),
 datetime.datetime(2020, 5, 23, 0, 0),
 datetime.datetime(2018, 11, 11, 0, 0),
 datetime.datetime(2021, 3, 25, 0, 0),
 datetime.datetime(2023, 2, 14, 0, 0),
 datetime.datetime(2021, 11, 15, 0, 0),
 datetime.datetime(2020, 9, 16, 0, 0),
 datetime.datetime(2018, 7, 31, 0, 0),
 datetime.datetime(2022, 11, 3, 0, 0),
 datetime.datetime(2021, 2, 28, 0, 0),
 datetime.datetime(2020, 10, 24, 0, 0),
 datetime.datetime(2019, 4, 14, 0, 0),
 datetime.datetime(2022, 5, 27, 0, 0),
 datetime.datetime(2018, 3, 20, 0, 0),
 datetime.datetime(2021, 8, 1, 0, 0),
 datetime.datetime(2017, 12, 2, 0, 0),
 datetime.datetime(2023, 5, 7, 0, 0),
 datetime.datetime(2019, 12, 9, 0, 0),
 datetime.datetime(2020, 8, 24, 0, 0)]

In [126]:
year = list(range(2017, 2024))
month = list(range(1, 13))
day = list(range(1, 32))

time2 = []
# time1의 인덱스 값 설정
time1_index = 0

for i in range(100000) :
    y = str(random.choice(year))
    m = str(random.choice(month))
    d = str(random.choice(day))

    date = y+m+d


    try:
        if (time1[time1_index] < datetime.strptime(date, '%Y%m%d')):
            time2.append(datetime.strptime(date, '%Y%m%d')) # 문자열 데이터를 시계열 데이터로 변경
            time1_index += 1
    except:
        print(date)

    if (len(time2) == 100):
        break

2017230
2017230
20201131
20181131
2017431
20181131
2023231
2018231
2019431
2017631
2019431

In [127]:
time2

[datetime.datetime(2023, 12, 7, 0, 0),
 datetime.datetime(2023, 9, 27, 0, 0),
 datetime.datetime(2023, 11, 5, 0, 0),
 datetime.datetime(2023, 11, 11, 0, 0),
 datetime.datetime(2020, 5, 10, 0, 0),
 datetime.datetime(2020, 6, 26, 0, 0),
 datetime.datetime(2023, 11, 12, 0, 0),
 datetime.datetime(2018, 8, 27, 0, 0),
 datetime.datetime(2023, 4, 18, 0, 0),
 datetime.datetime(2021, 6, 6, 0, 0),
 datetime.datetime(2022, 12, 16, 0, 0),
 datetime.datetime(2023, 12, 18, 0, 0),
 datetime.datetime(2019, 7, 21, 0, 0),
 datetime.datetime(2021, 9, 26, 0, 0),
 datetime.datetime(2023, 10, 5, 0, 0),
 datetime.datetime(2022, 6, 16, 0, 0),
 datetime.datetime(2019, 4, 12, 0, 0),
 datetime.datetime(2023, 3, 21, 0, 0),
 datetime.datetime(2023, 2, 17, 0, 0),
 datetime.datetime(2023, 2, 3, 0, 0),
 datetime.datetime(2019, 12, 6, 0, 0),
 datetime.datetime(2023, 12, 7, 0, 0),
 datetime.datetime(2023, 12, 12, 0, 0),
 datetime.datetime(2020, 12, 20, 0, 0),
 datetime.datetime(2023, 5, 11, 0, 0),
 datetime.datetime(2020, 8, 22, 0, 0),
 datetime.datetime(2022, 3, 3, 0, 0),
 datetime.datetime(2021, 3, 26, 0, 0),
 datetime.datetime(2023, 12, 11, 0, 0),
 datetime.datetime(2023, 11, 7, 0, 0),
 datetime.datetime(2020, 10, 24, 0, 0),
 datetime.datetime(2022, 10, 25, 0, 0),
 datetime.datetime(2022, 3, 20, 0, 0),
 datetime.datetime(2023, 11, 14, 0, 0),
 datetime.datetime(2023, 11, 13, 0, 0),
 datetime.datetime(2022, 3, 22, 0, 0),
 datetime.datetime(2022, 4, 14, 0, 0),
 datetime.datetime(2019, 2, 10, 0, 0),
 datetime.datetime(2020, 4, 6, 0, 0),
 datetime.datetime(2023, 1, 2, 0, 0),
 datetime.datetime(2020, 11, 9, 0, 0),
 datetime.datetime(2022, 11, 7, 0, 0),
 datetime.datetime(2018, 12, 8, 0, 0),
 datetime.datetime(2020, 5, 28, 0, 0),
 datetime.datetime(2021, 4, 19, 0, 0),
 datetime.datetime(2022, 11, 20, 0, 0),
 datetime.datetime(2023, 12, 26, 0, 0),
 datetime.datetime(2023, 12, 9, 0, 0),
 datetime.datetime(2021, 12, 14, 0, 0),
 datetime.datetime(2022, 12, 23, 0, 0),
 datetime.datetime(2023, 5, 31, 0, 0),
 datetime.datetime(2020, 2, 26, 0, 0),
 datetime.datetime(2019, 5, 21, 0, 0),
 datetime.datetime(2023, 2, 14, 0, 0),
 datetime.datetime(2022, 12, 23, 0, 0),
 datetime.datetime(2022, 9, 6, 0, 0),
 datetime.datetime(2021, 2, 5, 0, 0),
 datetime.datetime(2022, 4, 28, 0, 0),
 datetime.datetime(2019, 10, 24, 0, 0),
 datetime.datetime(2023, 5, 12, 0, 0),
 datetime.datetime(2020, 10, 18, 0, 0),
 datetime.datetime(2021, 10, 11, 0, 0),
 datetime.datetime(2022, 11, 23, 0, 0),
 datetime.datetime(2023, 12, 14, 0, 0),
 datetime.datetime(2023, 12, 9, 0, 0),
 datetime.datetime(2023, 6, 12, 0, 0),
 datetime.datetime(2022, 6, 25, 0, 0),
 datetime.datetime(2023, 5, 12, 0, 0),
 datetime.datetime(2023, 7, 22, 0, 0),
 datetime.datetime(2023, 8, 24, 0, 0),
 datetime.datetime(2023, 12, 31, 0, 0),
 datetime.datetime(2019, 12, 3, 0, 0),
 datetime.datetime(2023, 3, 1, 0, 0),
 datetime.datetime(2021, 7, 17, 0, 0),
 datetime.datetime(2023, 6, 18, 0, 0),
 datetime.datetime(2022, 4, 18, 0, 0),
 datetime.datetime(2023, 1, 2, 0, 0),
 datetime.datetime(2022, 2, 26, 0, 0),
 datetime.datetime(2022, 5, 13, 0, 0),
 datetime.datetime(2023, 3, 22, 0, 0),
 datetime.datetime(2023, 8, 29, 0, 0),
 datetime.datetime(2023, 7, 29, 0, 0),
 datetime.datetime(2023, 10, 27, 0, 0),
 datetime.datetime(2022, 11, 30, 0, 0),
 datetime.datetime(2022, 8, 18, 0, 0),
 datetime.datetime(2023, 12, 25, 0, 0),
 datetime.datetime(2023, 11, 16, 0, 0),
 datetime.datetime(2020, 11, 8, 0, 0),
 datetime.datetime(2021, 6, 14, 0, 0),
 datetime.datetime(2022, 12, 28, 0, 0),
 datetime.datetime(2023, 11, 9, 0, 0),
 datetime.datetime(2021, 3, 1, 0, 0),
 datetime.datetime(2022, 11, 2, 0, 0),
 datetime.datetime(2022, 11, 4, 0, 0),
 datetime.datetime(2019, 3, 4, 0, 0),
 datetime.datetime(2023, 5, 20, 0, 0),
 datetime.datetime(2018, 8, 7, 0, 0),
 datetime.datetime(2023, 9, 3, 0, 0),
 datetime.datetime(2022, 8, 27, 0, 0),
 datetime.datetime(2021, 9, 5, 0, 0)]

In [128]:
import pandas as pd

In [129]:
# pd.DataFrame([email_list, time1, time2]) <- 2차원
# 행과 열로 이루어진게 데이터 프레임(인덱스, 컬럼, 밸류), 행으로만 이루어진게 스리즈(인덱스, 밸류)

# 딕셔너리 형태
df = pd.DataFrame({
    'email' : email_list,
    '입사일' : time1,
    '퇴사일' : time2
})

In [130]:
flag = df['입사일'] < '20171231'
flag2 = df['퇴사일'] > '20171231'

In [131]:
flag & flag2

0     False
1     False
2     False
3     False
4     False
      ...
95    False
96     True
97    False
98    False
99    False
Length: 100, dtype: bool

In [132]:
df.loc[flag & flag2]

                    email        입사일        퇴사일
5     hlmnwcxys@yahoo.com 2017-04-24 2020-06-26
7      bxfmsh@hanmail.net 2017-02-25 2018-08-27
13        firtb@gmail.com 2017-08-02 2021-09-26
25      phojnvg@naver.com 2017-06-26 2020-08-22
33  gzmxtlwso@hanmail.net 2017-03-22 2023-11-14
38  fyveuncqh@hanmail.net 2017-05-24 2020-04-06
39     wvfxcahj@naver.com 2017-04-21 2023-01-02
42       vbmqjz@naver.com 2017-10-18 2018-12-08
56         yegh@yahoo.com 2017-05-20 2021-02-05
66      jzutyin@yahoo.com 2017-01-04 2022-06-25
96    nboicvgty@yahoo.com 2017-12-02 2018-08-07

In [133]:
def func_1(_df, _date):
    _date1 = _date+"1231"
    _date2 = _date+"0101"
    flag = df['입사일'] < _date
    flag2 = df['퇴사일'] > _date2
    

    return df.loc[flag & flag2]

In [134]:
func_1(df, '2023')

                    email        입사일        퇴사일
1          ouak@yahoo.com 2020-08-26 2023-09-27
6        ckvhqi@yahoo.com 2022-09-13 2023-11-12
8         mrpow@yahoo.com 2022-12-08 2023-04-18
11    nrfijsv@hanmail.net 2022-12-24 2023-12-18
14        srcyp@yahoo.com 2018-05-03 2023-10-05
17         bnzt@yahoo.com 2022-06-07 2023-03-21
18         kfpq@yahoo.com 2018-09-22 2023-02-17
19         slbr@yahoo.com 2019-09-17 2023-02-03
24       mnvhsb@gmail.com 2022-03-05 2023-05-11
33  gzmxtlwso@hanmail.net 2017-03-22 2023-11-14
39     wvfxcahj@naver.com 2017-04-21 2023-01-02
46        hidvq@yahoo.com 2022-07-06 2023-12-26
47   fdiqbwco@hanmail.net 2021-12-13 2023-12-09
50        rhnav@gmail.com 2018-02-15 2023-05-31
53         xeil@naver.com 2018-06-07 2023-02-14
59     zylced@hanmail.net 2020-04-09 2023-05-12
63  asygplqot@hanmail.net 2021-08-02 2023-12-14
67    yiemoxrtg@naver.com 2022-12-23 2023-05-12
68    gbxjmsurt@gmail.com 2021-08-17 2023-07-22
72      hfanowr@gmail.com 2020-12-13 2023-03-01
74        iykbh@naver.com 2018-02-17 2023-06-18
76         pwbi@gmail.com 2021-02-23 2023-01-02
79     lzrnyxbd@naver.com 2022-07-29 2023-03-22
80         eysx@naver.com 2019-10-02 2023-08-29
81   xyualprk@hanmail.net 2022-08-07 2023-07-29
82     qjweongc@gmail.com 2020-05-23 2023-10-27
86         moyg@naver.com 2021-11-15 2023-11-16
90    fzkexvsuo@yahoo.com 2021-02-28 2023-11-09
95      snvmkfe@naver.com 2021-08-01 2023-05-20

In [135]:
for year in range(2017, 2024):
    data = func_1(df, str(year))
    data.to_excel(f"./excel_data/{year}employee.xlsx")

In [136]:
import calendar

In [137]:
def func_2(_df, _year, _month):
    if(len(str(_month)) == 1):
        _date = str(_year) + '0' +str(_month)
    else :
        _date = str(_year) +str(_month)
    _date1 = _date + str(calendar.monthrange(_year, _month)[-1])
    _date2 = _date + '0' +str(calendar.monthrange(_year, _month)[0])
    print(_date1,_date2)

    flag = df['입사일'] < _date1
    flag2 = df['퇴사일'] > _date2
    return _df.loc[flag & flag2]

In [138]:
func_2(df, 2017, 3)

20170331 20170302

                    email        입사일        퇴사일
7      bxfmsh@hanmail.net 2017-02-25 2018-08-27
33  gzmxtlwso@hanmail.net 2017-03-22 2023-11-14
66      jzutyin@yahoo.com 2017-01-04 2022-06-25

In [139]:
def func_3(_df, _year, _month):
    last_day = calendar.monthrange(_year, _month)[-1]
    first_day = calendar.monthrange(_year, _month)[0]
    _date1 = datetime(_year, _month, last_day)
    _date2 = datetime(_year, _month, first_day+1)
    print(_date1,_date2)

    flag = df['입사일'] < _date1
    flag2 = df['퇴사일'] > _date2
    return _df.loc[flag & flag2]

In [140]:
func_3(df, 2017, 2)

2017-02-28 00:00:00 2017-02-03 00:00:00

                 email        입사일        퇴사일
7   bxfmsh@hanmail.net 2017-02-25 2018-08-27
66   jzutyin@yahoo.com 2017-01-04 2022-06-25

In [141]:
# 2017 ~ 2023 까지 월별로 따로 저장하려면? 다중 for문 사용

# 다중 for문
# 첫번째 for문 (2017 - 2023)
for year in range(2017, 2024):
    # 두번째 for문 (1 - 12)
    for month in range(1, 13):
        # print(year, month)
        data = func_3(df, year, month)
        data.to_excel(f"./excel_data/{year}_{month}_employee.xlsx")

2017-01-31 00:00:00 2017-01-07 00:00:00
2017-02-28 00:00:00 2017-02-03 00:00:00
2017-03-31 00:00:00 2017-03-03 00:00:00
2017-04-30 00:00:00 2017-04-06 00:00:00
2017-05-31 00:00:00 2017-05-01 00:00:00
2017-06-30 00:00:00 2017-06-04 00:00:00
2017-07-31 00:00:00 2017-07-06 00:00:00
2017-08-31 00:00:00 2017-08-02 00:00:00
2017-09-30 00:00:00 2017-09-05 00:00:00
2017-10-31 00:00:00 2017-10-07 00:00:00
2017-11-30 00:00:00 2017-11-03 00:00:00
2017-12-31 00:00:00 2017-12-05 00:00:00
2018-01-31 00:00:00 2018-01-01 00:00:00
2018-02-28 00:00:00 2018-02-04 00:00:00
2018-03-31 00:00:00 2018-03-04 00:00:00
2018-04-30 00:00:00 2018-04-07 00:00:00
2018-05-31 00:00:00 2018-05-02 00:00:00
2018-06-30 00:00:00 2018-06-05 00:00:00
2018-07-31 00:00:00 2018-07-07 00:00:00
2018-08-31 00:00:00 2018-08-03 00:00:00
2018-09-30 00:00:00 2018-09-06 00:00:00
2018-10-31 00:00:00 2018-10-01 00:00:00
2018-11-30 00:00:00 2018-11-04 00:00:00
2018-12-31 00:00:00 2018-12-06 00:00:00
2019-01-31 00:00:00 2019-01-02 00:00:00
2019-02-28 00:00:00 2019-02-05 00:00:00
2019-03-31 00:00:00 2019-03-05 00:00:00
2019-04-30 00:00:00 2019-04-01 00:00:00
2019-05-31 00:00:00 2019-05-03 00:00:00
2019-06-30 00:00:00 2019-06-06 00:00:00
2019-07-31 00:00:00 2019-07-01 00:00:00
2019-08-31 00:00:00 2019-08-04 00:00:00
2019-09-30 00:00:00 2019-09-07 00:00:00
2019-10-31 00:00:00 2019-10-02 00:00:00
2019-11-30 00:00:00 2019-11-05 00:00:00
2019-12-31 00:00:00 2019-12-07 00:00:00
2020-01-31 00:00:00 2020-01-03 00:00:00
2020-02-29 00:00:00 2020-02-06 00:00:00
2020-03-31 00:00:00 2020-03-07 00:00:00
2020-04-30 00:00:00 2020-04-03 00:00:00
2020-05-31 00:00:00 2020-05-05 00:00:00
2020-06-30 00:00:00 2020-06-01 00:00:00
2020-07-31 00:00:00 2020-07-03 00:00:00
2020-08-31 00:00:00 2020-08-06 00:00:00
2020-09-30 00:00:00 2020-09-02 00:00:00
2020-10-31 00:00:00 2020-10-04 00:00:00
2020-11-30 00:00:00 2020-11-07 00:00:00
2020-12-31 00:00:00 2020-12-02 00:00:00
2021-01-31 00:00:00 2021-01-05 00:00:00
2021-02-28 00:00:00 2021-02-01 00:00:00
2021-03-31 00:00:00 2021-03-01 00:00:00
2021-04-30 00:00:00 2021-04-04 00:00:00
2021-05-31 00:00:00 2021-05-06 00:00:00
2021-06-30 00:00:00 2021-06-02 00:00:00
2021-07-31 00:00:00 2021-07-04 00:00:00
2021-08-31 00:00:00 2021-08-07 00:00:00
2021-09-30 00:00:00 2021-09-03 00:00:00
2021-10-31 00:00:00 2021-10-05 00:00:00
2021-11-30 00:00:00 2021-11-01 00:00:00
2021-12-31 00:00:00 2021-12-03 00:00:00
2022-01-31 00:00:00 2022-01-06 00:00:00
2022-02-28 00:00:00 2022-02-02 00:00:00
2022-03-31 00:00:00 2022-03-02 00:00:00
2022-04-30 00:00:00 2022-04-05 00:00:00
2022-05-31 00:00:00 2022-05-07 00:00:00
2022-06-30 00:00:00 2022-06-03 00:00:00
2022-07-31 00:00:00 2022-07-05 00:00:00
2022-08-31 00:00:00 2022-08-01 00:00:00
2022-09-30 00:00:00 2022-09-04 00:00:00
2022-10-31 00:00:00 2022-10-06 00:00:00
2022-11-30 00:00:00 2022-11-02 00:00:00
2022-12-31 00:00:00 2022-12-04 00:00:00
2023-01-31 00:00:00 2023-01-07 00:00:00
2023-02-28 00:00:00 2023-02-03 00:00:00
2023-03-31 00:00:00 2023-03-03 00:00:00
2023-04-30 00:00:00 2023-04-06 00:00:00
2023-05-31 00:00:00 2023-05-01 00:00:00
2023-06-30 00:00:00 2023-06-04 00:00:00
2023-07-31 00:00:00 2023-07-06 00:00:00
2023-08-31 00:00:00 2023-08-02 00:00:00
2023-09-30 00:00:00 2023-09-05 00:00:00
2023-10-31 00:00:00 2023-10-07 00:00:00
2023-11-30 00:00:00 2023-11-03 00:00:00
2023-12-31 00:00:00 2023-12-05 00:00:00

In [142]:
(df['입사일'] < df['퇴사일']).value_counts()

True    100
Name: count, dtype: int64